#container{
  margin:0 auto;
  width:95%;
}

h1 {
  color:#ffd7d7;
  background-color: #ffffff;
  font-family:serif;
  font-size:500%;
  text-align: center;
  font-family: 'Chewy', cursive;
  margin-bottom: 0;
}

h4 {
  text-align: center;
}

p {
  text-align:center;
  font-family: 'Gudea', sans-serif;
  color: #ffffff;
  font-size:150%;
}


ul {
  padding: 0;
  list-style-type: none;
}

h4 {
  padding: 0;  
}


.centerimage {
  text-align: center;
  border: 0;
}

body {
  background-color:#ffd7d7;
}

/*#nav li{
  float:left;
  width:25%;
}*/



#nav a:link,#nav a:visited {
  display:block;
  Color:#ffd7d7;
  background-color:#ffffff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding:4px;
  font-family:Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active{
  background-color:#eeeeee;
}

#nav{
  padding:0;
}

.footer {
  position: fixed;
  bottom:0px;
  width:100%
  padding:1rem;
  text-align:left;
}
