h1 {
  color:#ffd7d7;
  background-color: #ffffff;
  font-family:serif;
  font-size:500%;
  text-align: center;
}

h4 {
  text align:center;
}

p1 {
  text-align:center;
}

ul {
  text-align:center;
}

.centerimage {
  text-align: center;
}

body {
  background-color:#ffd7d7;
}
